body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff0f5;
    padding: 50px;
}

.container {
    max-width: 600px;
    margin: auto;
}

button {
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    background-color: #ff4d6d;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #e63950;
}

input {
    padding: 10px;
    font-size: 16px;
    margin-top: 15px;
    width: 200px;
    text-align: center;
}

.error {
    color: red;
    margin-top: 10px;
}

.hidden {
    display: none;
}

img {
    margin-top: 20px;
    max-width: 300px;
}


.hint {
    display: none;
    margin-top: 8px;
    font-style: italic;
    color: #444;
}

.hint-button {
    background-color: #999;
    margin-top: 10px;
}

.hint-button:hover {
    background-color: #777;
}
